* {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
body.lock {
  overflow: hidden;
}
.header {
  background: url(../img/bc.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 68px 0 284px;
}
.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.head-top__logo {
  text-align: center;
  margin-bottom: 78px;
  transform: translate(0, -120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.head-top__logo._active {
  transform: translate(0, 0);
  opacity: 1;
}
.head-top__title {
  font-size: 49px;
  line-height: 1.27;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  max-width: 675px;
  opacity: 0;
}
.head-top__title._active {
  opacity: 1;
  transition: all 0.8s ease 0.7s;
}
.head-top__title span {
  font-weight: 700;
}

.form {
  padding-bottom: 112px;
}
.form-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.zip-form {
  background-color: #fff;
  box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.28);
  position: absolute;
  width: 334px;
  height: 334px;
  border-radius: 2px;

  opacity: 0;
  transition: all 0.8s ease 0.3s;
}
.zip-form._active {
  opacity: 1;
}
.zip-form__entered {
  margin: 31px 0 24px;
  height: 36px;
  width: 264px;
  box-shadow: inset 0px 1px 0 0 rgba(0, 0, 0, 0.09);
  border: solid 1px #e5e5e5;
  font-size: 15px;
  padding-left: 15px;
}
.zip-form__entered::placeholder {
  color: #b4adad;
}
.zip-form__subtitle {
  max-width: 221px;
  margin: 27px auto;
  color: #938e8e;
}

.btn {
  background-color: #227dd3;
  width: 192px;
  margin: 0 auto;
  padding: 12px 0;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  transform: translateY(5px);
}
.zip-form__btn-send {
  font-size: 22px;
  text-decoration: none;
  color: #ffffff;
  padding: 12px 39px;
}

.inform-phohto {
  padding: 127px 0 110px;
}
.inform-phohto__items {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translate(0, 120%);
}
.inform-phohto__items._active {
  transition: all 1s ease 0s;
  opacity: 1;
  transform: translate(0, 0);
}
.inform-phohto__item-text {
  margin-left: 35px;
}
.inform-phohto__item {
  display: flex;
}
.img__item {
  height: 127px;
}
.inform-phohto__item-title {
  color: #000000;
  font-size: 27px;
  margin: 13px 0 19px;
  font-weight: 600;
}
.inform-phohto__descr {
  text-align: justify;
  color: #4f4e4e;
  max-width: 315px;
  line-height: 23px;
}

.aboutInform {
  background-color: #5fc18b;
  padding: 86px 0 0px;
  color: #fff;
}

.info {
  height: 872px;
  padding-top: 86px;
}

.img-info {
  height: 0;
  width: 0;
  transform: translateX(205px);

  transition: all 0.8s ease-in 0s;
}
.img-info._active {
  opacity: 1;
}
.item-textOne {
  margin-top: 175px;
  z-index: 2;
  position: relative;
}

.titleOne {
  font-size: 39px;
  font-weight: 600;
  margin-bottom: 36px;
  text-align: center;
  opacity: 0;
  transform: translate(0, 150%);
  transition: all 0.8s ease-in 0s;
}
.titleOne._active {
  opacity: 1;
  transform: translate(0, 0);
}

.infromOneP {
  display: block;
  opacity: 0;
  transform: translate(0, 160%);
  transition: all 0.8s ease-in 0s;
}
.infromOneP._active {
  opacity: 1;
  transform: translate(0, 0);
}

.infromOneT {
  opacity: 0;
  transform: translate(0, 180%);
  transition: all 0.8s ease-in 0.2s;
}
.infromOneT._active {
  opacity: 1;
  transform: translate(0, 0);
}

.infromOne {
  text-align: justify;
  font-size: 18px;
  line-height: 1.64;
  max-width: 652px;
  margin: 0 auto;
}

.getApplication {
  background-color: #44a36f;
  color: #fff;
}
.aboutApp {
  height: 817px;
  padding-top: 100px;
}

.img-aboutApp {
  margin-right: 30px;
  float: left;
  opacity: 0;
  transform: translate(-120%, 0);
  transition: all 0.8s ease-in 0s;
}
.img-aboutApp._active {
  opacity: 1;
  transform: translate(0, 0);
}
.titleTwo {
  margin-bottom: 20px;
  font-size: 39px;
  font-weight: 600;
  opacity: 0;
  transform: translate(0, 120%);
  transition: all 0.8s ease-in 0s;
}
.titleTwo._active {
  opacity: 1;
  transform: translate(0, 0);
}

.infromTwo {
  font-size: 17px;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 1.64;
  opacity: 0;
  transform: translate(0, 120%);
  transition: all 0.8s ease-in 0s;
}
.infromTwo._active {
  opacity: 1;
  transform: translate(0, 0);
}
.btn-text {
  border: solid 3px #ffffff;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  padding: 8px 5px 13px;
  opacity: 0;
  transform: translate(200%, 0);
  transition: all 0.5s ease-in-out;
}
.btn-text._active {
  opacity: 1;
  transform: translate(0, 0);
}
.btn-text:hover {
  transform: translateY(8px);
}
.btn-dwonload {
  text-decoration: none;
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  padding: 8px 32px 8px 32px;
}

.footer {
  background: url(../img/footer/bc.jpg) no-repeat;
  padding: 161px 0 0;
  background-size: cover;
  background-position: center;
}
.footer-item {
  margin-bottom: 42px;
}
.footer-form {
  margin: 0 auto;
  width: 439px;
  height: 439px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s ease-in 0s;
}
.footer-form._active {
  opacity: 1;
}
.footer-form__inner {
  text-align: center;
  padding: 112px 0 0;
}
.form-name {
  width: 275px;
  height: 31px;
  margin-bottom: 15px;
  border: solid 1px #d8d8d8;
  padding-left: 16px;
}
.form-email {
  width: 275px;
  height: 31px;
  margin-bottom: 15px;
  border: solid 1px #d8d8d8;
  padding-left: 16px;
}
.footer-btn {
  width: 66px;
  margin: 0 auto;
}
.form-Message {
  resize: none;
  width: 275px;
  height: 80px;
  margin-bottom: 33px;
  border: solid 1px #d8d8d8;
  padding-left: 16px;
}
.Copyright {
  background-color: #43a06d;
  text-align: center;
  height: 55px;
  padding: 30px 0 0 0;
  color: #fff;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.7s ease-in 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0, 0) rotate(0deg);
  opacity: 1;
}
.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  line-height: 1.5;
  padding: 30px;
  position: relative;
  transition: all 0.7s ease-in 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(35deg);
}
.popup__close {
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.popup__title {
  font-size: 40px;
  margin: 0 0 1em 0;
}


@media (max-width:1000px) {
  .inform-phohto__items{
    flex-direction: column;
    gap: 80px;
    align-items: center;
  }
}
